In [1]:
'''
DataFrame은 2차원 배열 형식
표같은 스프레드시트 자료구조
여러개의 컬럼을 가지고 서로 다를 수 있어

DataFram은 다양한 방법으로 생성
1) 리스트의 값을 딕셔너리로 사용
2) Numpy배열을 이용
3) read_csv(),read_excel()

'''

'\nDataFrame은 2차원 배열 형식\n표같은 스프레드시트 자료구조\n여러개의 컬럼을 가지고 서로 다를 수 있어\n\nDataFram은 다양한 방법으로 생성\n1) 리스트의 값을 딕셔너리로 사용\n2) Numpy배열을 이용\n3) read_csv(),read_excel()\n\n'

## DataFrame
### DataFrame 생성하기

In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [3]:
# 1-1 딕셔너리를 이용해서 DataFrame 만들기
list_dic={'state':['ohio','ohio','ohio','Nevada','Nevada','Nevada'],
          'year':[2000,2001,2002,2001,2002,2003],
          'pop':[1.5,1.7,3.6,2.4,2.9,3.2]
            }

list_df=DataFrame(list_dic)
print(list_df)
print("*"*50)
print(list_df.state)
print("*"*50)
print(list_df.year)
print("*"*50)
print(list_df["pop"])## 내장함수 pop()과 이름이 동일하여 print(list_df.pop)라고 쓰면 전부 다나온다
print("*"*50)
print(type(list_df.state))
print("*"*50)
print(type(list_df.year))
print("*"*50)
print(type(list_df["pop"]))
print("*"*50)
print(type(list_df.pop))

    state  year  pop
0    ohio  2000  1.5
1    ohio  2001  1.7
2    ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2
**************************************************
0      ohio
1      ohio
2      ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object
**************************************************
0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: year, dtype: int64
**************************************************
0    1.5
1    1.7
2    3.6
3    2.4
4    2.9
5    3.2
Name: pop, dtype: float64
**************************************************
<class 'pandas.core.series.Series'>
**************************************************
<class 'pandas.core.series.Series'>
**************************************************
<class 'pandas.core.series.Series'>
**************************************************
<class 'method'>

In [4]:
# 1-2 Numpy random 이용해서 DataFrame 만들기
np.random.seed(100)
data2={'name':["James","Beth","Camila","Elsa"],
       'adderss':["NY1","NY1","NY2","NY1"],
        'age':[12,45,23,16]
      }
df2=DataFrame(np.random.randint(10,100,16).reshape(4,4),index=data2['name'],columns=data2['adderss'])
print(df2)
# 컬럼명 수정하기
df2.columns=["NY","London","Paris","Rome"]
df2

        NY1  NY1  NY2  NY1
James    18   34   77   97
Beth     89   58   20   62
Camila   63   76   24   44
Elsa     34   25   70   68

        NY  London  Paris  Rome
James   18      34     77    97
Beth    89      58     20    62
Camila  63      76     24    44
Elsa    34      25     70    68

In [5]:
# 1_3) read_csv사용
'''
csv 콤마로 구분되는 값
csv 파일 포멧은 데이터 값이 쉽표로 구분되는 텍스트 파일

누락데이터가 어디에 들어있는지 확인
'''

tips = pd.read_csv("tips.csv")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner   2.0
1         10.34  1.66    Male     No   Sun  Dinner   3.0
2         21.01  3.50    Male     No   Sun  Dinner   3.0
3         23.68  3.31    Male     No   Sun  Dinner   2.0
4         24.59  3.61  Female     No   Sun  Dinner   4.0
..          ...   ...     ...    ...   ...     ...   ...
240       27.18  2.00  Female    Yes   Sat  Dinner   2.0
241       22.67  2.00    Male    Yes   Sat  Dinner   2.0
242       17.82  1.75    Male     No   Sat  Dinner   2.0
243       18.78  3.00  Female     No  Thur  Dinner   2.0
244       25.34   NaN     NaN    NaN   NaN     NaN   NaN

[245 rows x 7 columns]

## DataFrame - 구조확인

In [6]:
'''
index, values,colums,dtype
'''
print(tips.index)
print("*"*50)
print(tips.columns)
print("*"*50)
print(tips.values)
print("*"*50)
print(tips.dtypes)
print("*"*50)
print(tips.describe())
print("*"*50)
print(tips.info())# 컬럼에 대한 전체적인 정보를 나타냄

RangeIndex(start=0, stop=245, step=1)
**************************************************
Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')
**************************************************
[[16.99 1.01 'Female' ... 'Sun' 'Dinner' 2.0]
 [10.34 1.66 'Male' ... 'Sun' 'Dinner' 3.0]
 [21.01 3.5 'Male' ... 'Sun' 'Dinner' 3.0]
 ...
 [17.82 1.75 'Male' ... 'Sat' 'Dinner' 2.0]
 [18.78 3.0 'Female' ... 'Thur' 'Dinner' 2.0]
 [25.34 nan nan ... nan nan nan]]
**************************************************
total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size          float64
dtype: object
**************************************************
       total_bill         tip        size
count  245.000000  244.000000  244.000000
mean    19.808612    2.998279    2.569672
std      8.891234    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.370000    2.000000    2.000000
50%     17.810000    2.900000    2.000000
75%     24.270000    3.562500    3.000000
max     50.810000   10.000000    6.000000
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  245 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    float64
dtypes: float64(3), object(4)
memory usage: 13.5+ KB
None

## 가장 많이 사용되는 조회함수

In [7]:
print(df3.head(10))
print("*"*50)
print(df3[:5])
print("*"*50)
print(df3.tail(10))
print(df3.shape) #shape는 튜플로 출력

NameError: name 'df3' is not defined

## DataFrame 컬럼명 변경 및 추가

In [ ]:
# 컬럼 모두 변경
df2.columns=["NY","London","Paris","Rome"]

# raname으로 부분적 변경
# 컬럼명 부분적 변경은 원본에 바로 적용 안됨.. 
df2.rename(columns={'NY':'NewYork'},inplace=True)
df2

In [ ]:
# 컬럼추가
import numpy as np
df2["ph_num"]=np.NaN
df2.loc["Emma"]=np.NaN
df2

## DataFram - 조회하기(인덱싱,슬라이싱)

In [ ]:
# df2.columns=['NewYork', 'London', 'Paris', 'Rome']
# 열 슬라이싱
df2[['NewYork', 'London']]

# london 컬럼에 해당하는 갑 중에서 45보다 큰 값만 추출
print(df2[df2["London"]>45][["London"]])
#df2[df2["two"]>45].iloc[:,1:2]

### loc,iloc / at,iat

In [ ]:
df2
print(df2.iloc[:2,:3])
print("*"*50)

print(df2.loc["James":"Beth","Paris":"Rome"])
print("*"*50)

print(df2.iloc[0:2])
print("*"*50)

In [ ]:
# 스칼라값 가져오기
# loc,iloc는 스칼라값을 가져오는 용도는 아니다...
print(df2.iat[1,0])
print(df2.at["Beth","Rome"])
print(df2.iat[3,2])
print(df2.at["Elsa","Paris"])
df2

In [ ]:
df2.loc["Emma"]=np.NaN
df2

## 삭제하기

In [ ]:
# 행삭제
# df2.drop("Emma",inplace=True)

# 열삭제 : drop은 axis가 default로 0값(행 삭제)로 되어 있는데, 열을 삭제하려면 axis=1 로 변경 필요.
# del df2["ph_num"]
# df2.drop("ph_num",axis=1,inplace=True)
df2

In [ ]:
df2

## DataFrame 정렬하기

In [ ]:
# df2.index=list('abcd')
# df2.sort_index()
# df2.sort_index(axis=1, ascending=False)
# df2.sort_values(
#     by="two",
#     axis=0,
#     ascending=False,
#     inplace=False,
#     kind='quicksort',
#     na_position='last',
#     ignore_index=False,)

df2.sort_values(by=["Paris","Rome"],ascending=[False,True])
df2.sort_index()

### 응용 : 실전 데이터

In [ ]:
df3=tips
df3.head()

In [ ]:
## 문제 1.tip의 비율로 sort
df3.sort_values(by="tip", ascending=False).head()

In [ ]:
df3["tip"].head(10).plot(by="tip", kind="barh", color=["#4cbff3bf"])

In [ ]:
## 문제 2. day, tip별로 정렬... 마지막 7줄만 출력

df3.sort_values(by=["day","tip"],ascending=[False,True]).tail(7)

## 알아두면 유용한 함수

In [ ]:
# 1. unique() : 중복을 제외하고 값 보여주기
print(df3['day'].unique())

# 2. value_counts() : 컬럼의 값의 객수
print(df3['day'].value_counts())

# 3. count() : 컬럼의 길이
print(df3['day'].count())

#4. isin() : 해당하는 값이 있는 행 조회
df3[df3['day'].isin(["Fri","Sat"])].sort_values("tip", ascending=False).head(15)

# 5. isnull() : 누락된데이터 확인하기
df3[df3.isnull().sum(axis=1)>0]

In [ ]:
data2={'name':["James","Beth","Camila","Elsa"],
       'adderss':["NY1","NY1","NY2","NY1"],
        'age':[12,45,23,16]
      }
df2=DataFrame(np.random.randint(10,100,16).reshape(4,4),index=data2['name'],columns=data2['adderss'])

#address를 ["NY1","NY1","NY2","NY2","NY1"] >>> ["NY","London","Paris","Rome"]로 변경
df2.columns=["NY","London","Paris","Rome"]
df2

# raname으로 부분적 변경
df2.rename(columns={'NY':'NewYork'},inplace=True)
df2

# 열 슬라이싱
df2[['London']]
df2.columns

In [19]:
np.where(df2["Paris"]>20,df2["Paris"],"NONE")

array(['77', 'NONE', '24', '70'], dtype='<U11')