# Tuple - 데이터 조회만 가능 (Immutable)

In [1]:
'''
Tuple은 List와 거의 동일하며, 차이점은 아래와 같다.
1) 리스트는 []으로 값을 감싸고, 튜플은 ()을 쓴다.
2) 리스트는 그 값의 추가,삭제,수정이 가능하다
3) 튜플은 값의 변경이 안된다...읽기만 가능하다.
'''

'\nTuple은 List와 거의 동일하며, 차이점은 아래와 같다.\n1) 리스트는 []으로 값을 감싸고, 튜플은 ()을 쓴다.\n2) 리스트는 그 값의 추가,삭제,수정이 가능하다\n3) 튜플은 값의 변경이 안된다...읽기만 가능하다.\n'

In [14]:
# 1. 튜플 생성하기
t1=(1,2,3,4)
t2=(4,5,6)
t3=(1,) # 값이 한개면 반드시 뒤에 ,를 찍어야 튜플로 인식함
type(t3) 
t4=(1,2,3,(5,6,7),4)
print(t4)
'''
프로그램이 실행되는 동안 그 값을 유지하려면, 튜플 사용.
필요시마다 값 변경이 필요하면, 리스트 사용

'''

(1, 2, 3, (5, 6, 7), 4)

'\n프로그램이 실행되는 동안 그 값을 유지하려면, 튜플 사용.\n필요시마다 값 변경이 필요하면, 리스트 사용\n\n'

In [27]:
# 한줄에 나열도 가능
a,b,c=3,4,5
a=3,4,5 # ()생략하고 튜플로 만듬
type(a)

b=(3,4,5)
a==b
# t1을 튜플로 생성 >> 리스트로 변환
t1=1,2,3,4,5,6,7,8,9,10
t1=list(t1)
t1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
# 튜플이 리스트보다 메모리 효율성이 뛰어나다
import sys
t=(1,2,3,4,5,6,7,8,9,10)*10000
l=[1,2,3,4,5,6,7,8,9,10]*10000

print(sys.getsizeof(t))
print(sys.getsizeof(l))

800048
800064

## Dictionary

In [43]:
# 1. 생성하기
proDic={"name":"Dram","capacity":"32g","brand":"SK-H","price":230000}

{'n': 'name', 'a': 'name', 'm': 'name', 'e': 'name'}

In [53]:
# 2.조회하기
'''
리스트,튜플은 데이터의 요소를 출력할 때 인덱싱이나 슬라이싱 기법을 사용해서 데이터를 추출
딕셔너리는 key:value 를 이용해서 데이터 추출
'''
print(proDic.get('name'))
print(proDic['brand'])

Dram
SK-H

In [57]:
# 3.수정하기
proDic['price']=320000
proDic

{'name': 'Gram', 'capacity': '32g', 'brand': 'SK-H', 'price': 320000}

In [59]:
# 4.데이터 추가하기
addInfo={"location":'이천','pop':330000}
proDic.update(addInfo)
proDic

{'name': 'Gram',
 'capacity': '32g',
 'brand': 'SK-H',
 'price': 320000,
 'location': '이천',
 'pop': 330000}

In [64]:
# 5.삭제하기
del proDic["pop"]
proDic

{'name': 'Gram', 'brand': 'SK-H', 'price': 320000, 'location': '이천'}

In [ ]:
'''
딕셔너리를 다룰 때 주의사항
1) 값은 중복 가능하지만, 키가 중복될 경우 뒤에 있는 키 값으로 덮어씌운다.
- error나지 않음
2) 딕셔너리에서 리스트는 키값으로 올 수 없다. 튜플은 가능하다.
- 덩어리를 키값으로 잡을 수는 있지만 "key는 unique(=고유하고, 변경될 수 없는)" 해야하기 때문에 리스트는 안되고 튜플은 가능

'''

In [68]:
aa={1:'a',1:'b'}
aa
# bb={[1,2]:"hi"}
cc={(1,2):"hello"}

## 딕셔너리에서 함수 사용하기

In [71]:
dic={'name':'James','age':33,'address':'newyork'}
dic

{'name': 'James', 'age': 33, 'address': 'newyork'}

In [78]:
# 1.keys()
dic_key=list(dic.keys())#dic.keys()는 dic_keys 라는 객체 타입으로 반환.
dic_value=list(dic.values())
print(dic_key)
print(dic_value)
type(dic_value)
type(dic_key)

'''
dic_keys 객체는 리스트를 사용할 때와 차이가 없지만
리스트 고유의 함수를 수행할 수 없다.
- append(),insert(),remove(),pop(),sort()등 함수 수행 X

리스트로 반환하고 for문과 연결...
'''

['name', 'age', 'address']
['James', 33, 'newyork']

list

In [100]:
for i,k in zip(dic_key,dic_value):
    print("keys:",i,"\t -\tvalues:",k)

keys: name 	 -	values: James
keys: age 	 -	values: 33
keys: address 	 -	values: newyork

In [97]:
for i in dic_key:
    print(i,' ', end=" ")

name   age   address

In [107]:
dic.items() # key,value를 쌍으로 묶은 튜플로 리턴

dict_items([('name', 'James'), ('age', 33), ('address', 'newyork')])

In [111]:
print(dic)
print(dic.get('address'))
address=dic.get('address')
print(address)

'''
None 출력되는 경우
1) 반환값 없는 함수를 print()에 적용한 경우...sort()
2) 존재하지 않는 키를 get으로 받아오면 None, dic['']이렇게 쓰면 에러남
'''

{'name': 'James', 'age': 33, 'address': 'newyork'}
newyork
newyork
newyork

In [113]:
# 딕셔너리 안에 키가 있는지 여부
'name' in dic

False

## SET

In [ ]:
'''
set은 중복허용하지 않으며, 순서가 없다.
리스트나 튜플은 순서가 있기 때문에 인덱싱을 통해서 데이터를 추출
만약. set에 저장된 값을 인덱싱, 슬라이싱으로 핸들링 한다면 리스트나 튜플로 변환 후 사용
'''

In [163]:
'''
중복을 허용하지 않는 set의 특징은 다른 자료형에 담긴 데이터의 중복을 제거하기 위한 필터 역할을 한다.
내부적으로 오름차순으로 정렬됨.
'''
# sort() 함수는  반환값이 없어서 print()하면 None출력됨
# sorted()는 반환값이 있다...
a={1,1,2,2,3,4,4,5,6,7,2}
print("here1 : ",sorted(a,reverse=True))
print("here2 : ",a)
# a1=list(a)
#a1.sort(reverse=True)

here1 :  [7, 6, 5, 4, 3, 2, 1]
here2 :  {1, 2, 3, 4, 5, 6, 7}

AttributeError: 'set' object has no attribute 'sort'

In [162]:
%whos

Variable    Type           Data/Info
------------------------------------
a           set            {1, 2, 3, 4, 5, 6, 7}
a1          list           n=7
aa          dict           n=1
addInfo     dict           n=2
address     str            newyork
answer      str
b           tuple          n=3
c           int            5
cc          dict           n=1
dic         dict           n=3
dic_key     list           n=3
dic_value   dict_values    dict_values(['James', 33, 'newyork'])
i           str            address
k           str            newyork
l           list           n=100000
proDic      dict           n=4
sys         module         <module 'sys' (built-in)>
t           tuple          n=100000
t1          list           n=10
t2          tuple          n=3
t3          tuple          n=1
t4          tuple          n=5

## set관련 함수

In [191]:
# 1.값 추가
b=set([1,2,8])
print(b)
b.add(7) #하나의 값만 추가할 수 있다...여러개 값 X
b.update({5,4,3,10}) #여러개 값은 update()로
print(b)
# b.update(7) # update는 값 1개 넣으면 오류나

{8, 1, 2}
{1, 2, 3, 4, 5, 7, 8, 10}

In [192]:
b.remove(4)
b

{1, 2, 3, 5, 7, 8, 10}